<?xml version="1.0"?>

<model>
  <name>KRSBI_Regional_Field</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>weijia yao</name>
    <email>abcgarden@126.com</email>
  </author>

  <description>
    KRSBI regional field according to 2022 rules.
  </description>
</model>
